<?xml version='1.0' encoding='utf-8'?>
<widget id="com.realdealagency.newcordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>new cordova </name>
    <description>
new cordova
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
  new cordova
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="27" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-admob" spec="^5.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^4.1.0" />
    <plugin name="cordova-plugin-androidx" spec="^3.0.0" />
    <plugin name="cordova-plugin-androidx-adapter" spec="^1.1.3" />
    <plugin name="cordova-plugin-firebase" spec="^2.0.0" />
    <plugin name="cordova-android-play-services-gradle-release" spec="^4.0.0">
        <variable name="PLAY-SERVICES-ADS" value="18.0.0" />
        <variable name="PLAY-SERVICES-ADS-IDENTIFIER" value="17.0.0" />
        <variable name="PLAY-SERVICES-ADS-LITE" value="18.0.0" />
        <variable name="PLAY-SERVICES-AFS-NATIVE" value="17.0.0" />
        <variable name="PLAY-SERVICES-ANALYTICS" value="17.0.0" />
        <variable name="PLAY-SERVICES-ANALYTICS-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-APPINVITE" value="18.0.0" />
        <variable name="PLAY-SERVICES-AUDIENCE" value="17.0.0" />
        <variable name="PLAY-SERVICES-AUTH" value="17.0.0" />
        <variable name="PLAY-SERVICES-AUTH-API-PHONE" value="17.0.0" />
        <variable name="PLAY-SERVICES-AWARENESS" value="17.0.0" />
        <variable name="PLAY-SERVICES-BASE" value="17.0.0" />
        <variable name="PLAY-SERVICES-BASEMENT" value="17.0.0" />
        <variable name="PLAY-SERVICES-CAST" value="17.0.0" />
        <variable name="PLAY-SERVICES-CAST-FRAMEWORK" value="17.0.0" />
        <variable name="PLAY-SERVICES-CLEARCUT" value="17.0.0" />
        <variable name="PLAY-SERVICES-CRONET" value="17.0.0" />
        <variable name="PLAY-SERVICES-DRIVE" value="17.0.0" />
        <variable name="PLAY-SERVICES-FIDO" value="18.0.0" />
        <variable name="PLAY-SERVICES-FITNESS" value="17.0.0" />
        <variable name="PLAY-SERVICES-FLAGS" value="17.0.0" />
        <variable name="PLAY-SERVICES-GAMES" value="18.0.0" />
        <variable name="PLAY-SERVICES-GASS" value="18.0.0" />
        <variable name="PLAY-SERVICES-GCM" value="17.0.0" />
        <variable name="PLAY-SERVICES-IDENTITY" value="17.0.0" />
        <variable name="PLAY-SERVICES-IID" value="17.0.0" />
        <variable name="PLAY-SERVICES-INSTANTAPPS" value="17.0.0" />
        <variable name="PLAY-SERVICES-LOCATION" value="17.0.0" />
        <variable name="PLAY-SERVICES-MAPS" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-SDK" value="17.0.0" />
        <variable name="PLAY-SERVICES-MEASUREMENT-SDK-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-NEARBY" value="17.0.0" />
        <variable name="PLAY-SERVICES-OSS-LICENSES" value="17.0.0" />
        <variable name="PLAY-SERVICES-PANORAMA" value="17.0.0" />
        <variable name="PLAY-SERVICES-PHENOTYPE" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLACES" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLACES-PLACEREPORT" value="17.0.0" />
        <variable name="PLAY-SERVICES-PLUS" value="17.0.0" />
        <variable name="PLAY-SERVICES-SAFETYNET" value="17.0.0" />
        <variable name="PLAY-SERVICES-STATS" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER-API" value="17.0.0" />
        <variable name="PLAY-SERVICES-TAGMANAGER-V4-IMPL" value="17.0.0" />
        <variable name="PLAY-SERVICES-TASKS" value="17.0.0" />
        <variable name="PLAY-SERVICES-VISION" value="18.0.0" />
        <variable name="PLAY-SERVICES-VISION-COMMON" value="18.0.0" />
        <variable name="PLAY-SERVICES-VISION-IMAGE-LABEL" value="18.0.0" />
        <variable name="PLAY-SERVICES-WALLET" value="17.0.0" />
        <variable name="PLAY-SERVICES-WEARABLE" value="17.0.0" />
    </plugin>
    <plugin name="cordova-plugin-firebase-lib" spec="^4.1.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
</widget>
